<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/dashbg.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Dashboard</title>
</head>
<body>
    <a class="backhome fixed-top" href="/admin">Home</a>
    <div class="color color-1"></div>
    <div class="color color-2"></div>
    <div class="container fullbox">
        <div class="row mt-5">
            <div class="col-12 mt-2">
                <form action="regheaderdata" method="post">
                    <label for="heading">Heading</label>
                    <input type="text" name="heading" id="heading"><br><br>
                    <input type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
    <div class="container fullbox">
        <div class="row mt-5">
            <div class="col-12 mt-2">
                <form action="regheader2data" method="post">
                    <label for="p">Paragraph</label>
                    <input type="text" name="p" id="p"><br><br>
                    <input type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
</body>
</html>